@font-face {
  font-family: "iconfont"; /* Project id 2790681 */
  src: url('iconfont.woff2?t=1631076858651') format('woff2'),
       url('iconfont.woff?t=1631076858651') format('woff'),
       url('iconfont.ttf?t=1631076858651') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziliaoku:before {
  content: "\e600";
}

.icon-gongjuxiang:before {
  content: "\e823";
}

.icon-dianpu-xianxing:before {
  content: "\e90e";
}

.icon-7_round_solid:before {
  content: "\e64d";
}

.icon-6_round_solid:before {
  content: "\e64f";
}

.icon-9_round_solid:before {
  content: "\e650";
}

.icon-8_round_solid:before {
  content: "\e651";
}

.icon-5_round_solid:before {
  content: "\e64e";
}

.icon-github:before {
  content: "\e6a4";
}

.icon-gitee2:before {
  content: "\e677";
}

.icon-shuzi4:before {
  content: "\e6fc";
}

.icon-shuzi1:before {
  content: "\e606";
}

.icon-shuzi2:before {
  content: "\e716";
}

.icon-shuzi11:before {
  content: "\e607";
}

.icon-xinpian2:before {
  content: "\e611";
}

.icon-cpu-on:before {
  content: "\e601";
}

.icon-xinpian1:before {
  content: "\e603";
}

.icon-xinpian3:before {
  content: "\e71e";
}

.icon-xinpian-01:before {
  content: "\e602";
}

